export COOKIE_AGE=86400000  # 24 hours
export CLEANUP_INTERVAL=21600000  # 6 hours
export DB_PATH=""
export NODE_ENV="dev"
export PORT=3000
export SEED_API_KEY="do-not-use-this-api-key"
export SEED_USERNAME=""
export SEED_PASSWORD=""
export SESSION_SECRET="do-no-use-this-secret"
export SESSION_LIFESPAN=86400000  # 24 hours
